<a href="https://colab.research.google.com/github/Slkandu/py/blob/main/pyday1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
var1 = input("Hi please give the input:")

Hi please give the input:ay1 y

In [ ]:
# Input Data
variable_name = input("Enter your input:")

Enter your input:k likhitha

In [ ]:
print("Value is :",variable_name, "." )

Value is : k likhitha .

In [ ]:
Cost = 100
cost = 100.5
print("Cost with Capital C:",Cost)
print("Cost with c:",cost)

Cost with Capital C: 100
Cost with c: 100.5

In [ ]:
cost1 = 100.99
_cost = 100
#1cost = 100

In [ ]:
print(cost1)

100.99

In [ ]:
x = 12
y = 11

# x = 12.3
# y = 11.2
print(x,y)

z= x + y

#Basic Operations
print("Add x and y is:",z)
print("Add x and y is:",(x+y))
print("Subtraction x and y is:",(x-y))
print("Multiplication x and y is:",(x*y))
print("Division x and y is:",(x/y))
print("Modulus x and y is:",(x%y))
print("Power x to y is:",(x**y))

12 11
Add x and y is: 23
Add x and y is: 23
Subtraction x and y is: 1
Multiplication x and y is: 132
Division x and y is: 1.0909090909090908
Modulus x and y is: 1
Power x to y is: 743008370688

In [ ]:
x = 1
y = 2
w,z = 1,2

a = True
b = False

# Basic Operations
print('x==y : ',x==y)
print('y==z : ',y==z)
print('y>=z : ',y>=z)
print('y<=z : ',y<=z)
print('y!=z : ',y!=z)

print('a and b : ', a and b)
print('a or b : ', a or b)
print('not of a : ', not a)

x==y :  False
y==z :  True
y>=z :  True
y<=z :  True
y!=z :  False
a and b :  False
a or b :  True
not of a :  False

In [ ]:
s1 = 'Hi this is a string data'

# Basic Operations

print("Initial String: ",s1)
print("First 2 chars String: ",s1[:2])
print("last 3 chars String: ",s1[-3:])
print("Substring from 4th until 8th char String: ",s1[3:7])
print("Upper case: ",s1.upper())
print("Lower case: ",s1.lower())
print("Replace substring: ",s1.replace(' ','_'))
print("Length: ",len(s1))
print("Contains substring Hi: ",("Hi" in s1))
print("Concat substring User: ",(s1 + " User"))

Initial String:  Hi this is a string data
First 2 chars String:  Hi
last 3 chars String:  ata
Substring from 4th until 8th char String:  this
Upper case:  HI THIS IS A STRING DATA
Lower case:  hi this is a string data
Replace substring:  Hi_this_is_a_string_data
Length:  24
Contains substring Hi:  True
Concat substring User:  Hi this is a string data User

In [ ]:
l1 =[100,200,250,300,350]

In [ ]:
# Syntax
# list [] or li =[]
l1 =[100,200,250,300,350]
print("Initial list: ",l1)

# Length
len1 = len(l1)
print("Length of Initial list: ",len1)

# Access
print("1st element of list: ",l1[0])
print("From 2nd to 3th element of list: ",l1[1:3])
print("Last element of list: ",l1[-1])

# Adding elements
# 1. Append elements
l1.append(10)
print("Append 10 to the list: ",l1)

# 2. Insert elements
l1.insert(1,50)
print("Insert 50 at pos. 1: ",l1)

# 3. Concatenation elements
l1 = l1 + [11,12]
print("Concatenate 2 lists: ",l1)

# removing elements
l1.remove(300)
print("Removed 300 from list:",l1)

# sort elements
l1.sort()
print("Sorted List: ",l1)

# Contains element
print("Whether list contains 10:",(10 in l1))

Initial list:  [100, 200, 250, 300, 350]
Length of Initial list:  5
1st element of list:  100
From 2nd to 3th element of list:  [200, 250]
Last element of list:  350
Append 10 to the list:  [100, 200, 250, 300, 350, 10]
Insert 50 at pos. 1:  [100, 50, 200, 250, 300, 350, 10]
Concatenate 2 lists:  [100, 50, 200, 250, 300, 350, 10, 11, 12]
Removed 300 from list: [100, 50, 200, 250, 350, 10, 11, 12]
Sorted List:  [10, 11, 12, 50, 100, 200, 250, 350]
Whether list contains 10: True

In [ ]:
# Syntax
# set1 = {} or set1 = {[]} or set(list)
set1 = {"Patient 1","Patient 2","Patient 3","Patient 4"}
print("Initial Set:",set1)

print("Length of Initial Set:",len(set1))

# Unique elements in a list
list1 = ["Patient 1","Patient 2","Patient 3",
          "Patient 2","Patient 3",
         "Patient 1","Patient 2"]
set2 = set(list1)
print("Unique elements of list:",set2)

# Subtract 2 sets

set3 = set1 - set2
print("Difference between 2 sets:",set3)

Initial Set: {'Patient 4', 'Patient 2', 'Patient 3', 'Patient 1'}
Length of Initial Set: 4
Unique elements of list: {'Patient 3', 'Patient 2', 'Patient 1'}
Difference between 2 sets: {'Patient 4'}

In [ ]:
# Syntax
# dict1 = {"":"","":""}

dict_age = {"Patient 1":20,
              "Patient 2": 25,
              "Patient 3":28}

# Access keys
print("Keys are:",dict_age.keys())

# Access values
print("Values are:",dict_age.values())

# Access value based on key
print("Age of Patient 1 is:",dict_age['Patient 1'])

Keys are: dict_keys(['Patient 1', 'Patient 2', 'Patient 3'])
Values are: dict_values([20, 25, 28])
Age of Patient 1 is: 20

In [ ]:

# Example of If, Elif and Else

var_age = 10
if var_age > 18:
  print("Greater than 18")

elif var_age == 18:
  print("Equal to 18")

else:
  print("Less than 18")

Less than 18

In [ ]:
# For loop Example

# Syntax
# for i in seq:
    # Block of code

# while Condition:
    # Block of code


var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]
var_age = [20,30,40,50]

for var in var_patient:
  print("Hi welcome to the hospital:",var)


# For loop with if condition

count = 0
for var in var_age:
  if var < 30:
    count = count + 1

print("Number of patients with age less than 30:",count)


# While loop

num_medicine = 10
while num_medicine > 0:
  num_medicine = num_medicine - 1
  print("Number of medicine left:",num_medicine)

Hi welcome to the hospital: Patient 1
Hi welcome to the hospital: Patient 2
Hi welcome to the hospital: Patient 3
Hi welcome to the hospital: Patient 4
Number of patients with age less than 30: 1
Number of medicine left: 9
Number of medicine left: 8
Number of medicine left: 7
Number of medicine left: 6
Number of medicine left: 5
Number of medicine left: 4
Number of medicine left: 3
Number of medicine left: 2
Number of medicine left: 1
Number of medicine left: 0

In [ ]:
for i in range(2,6,3):
  print(i)

2
5

In [ ]:
# Break Statement Example
num = ["Patient 1","Patient 2","Patient 3","Patient 4"]
for var in num:
  if var == "Patient 3":
    print("Found Patient 3")
    break
  else:
    print("Did not find Patient 3")

Did not find Patient 3
Did not find Patient 3
Found Patient 3

In [ ]:
# Continue Statement Example
var_bp = [120, 130, 110, 140, 115, 150, 125,155,160]

for var in var_bp:
  if var < 130:
    continue
  print("High Bp Value(mmHg):",var)

High Bp Value(mmHg): 130
High Bp Value(mmHg): 140
High Bp Value(mmHg): 150
High Bp Value(mmHg): 155
High Bp Value(mmHg): 160

In [ ]:
var_patient = ["Patient 1","Patient 2","Patient 3","Patient 4"]
var_age = [20,30,40,50]
var_weight = [30.5,30,40.5,50.5]


for num1,num2,num3 in zip(var_patient,var_age,var_weight):
  #print("Patient ID is:", num1, "and age is:", num2, "and weight is: ",num3)

  print(f"Patient ID is: {num1} and age is: {num2} and weight is {num3}")

Patient ID is: Patient 1 and age is: 20 and weight is 30.5
Patient ID is: Patient 2 and age is: 30 and weight is 30
Patient ID is: Patient 3 and age is: 40 and weight is 40.5
Patient ID is: Patient 4 and age is: 50 and weight is 50.5

In [ ]:
i = 1
print(f"THe value of i is {i}")

THe value of i is 1

In [ ]:
def fn_add(a,b):
  c = a+b
  return c

var_sum = fn_add(2,3)

print("Addition of 2 numbers is:",var_sum)

fn_add(10,3)

Addition of 2 numbers is: 5

13

In [ ]:
# Example

# Syntax
# def function_name(parameters):
#     Block of code
#
# function_name(arguments)


def greet(name,age,gender):
  print(f"Hi, Welcome to hospital:{name}")
  print(f"Age: {age}")
  print(f"Gender: {gender}")

greet("Patient1",12,"Female")

greet("Patient2",50,"Male")


# Function with Return Values

def sub(a,b=10):
      c = a-b
      return c

sub_var = sub(2,1)
sub_var_default = sub(2)
print("Subtraction of 2 and 1 is:",sub_var)
print("Subtraction of 2 with default is :",sub_var_default)

Hi, Welcome to hospital:Patient1
Age: 12
Gender: Female
Hi, Welcome to hospital:Patient2
Age: 50
Gender: Male
Subtraction of 2 and 1 is: 1
Subtraction of 2 with default is : -8

In [ ]:
def check_odd_even(list_age):
      list_age_odd = []
      list_age_even = []
      for i in list_age:
         if i%2 == 0:
           list_age_even.append(i)
         else:
          list_age_odd.append(i)
      return list_age_even,list_age_odd

list_sample = [1,2,3,4,5]
list_sample_even,list_sample_odd = check_odd_even(list_sample)
print("Even Numbers in the list are",list_sample_even)
print("Odd Numbers in the list are",list_sample_odd)

Even Numbers in the list are [2, 4]
Odd Numbers in the list are [1, 3, 5]

In [ ]:
# Defining a class
class Car:
    def __init__(self, brand, color):
        self.brand = brand  # Attribute
        self.color = color  # Attribute

    def start(self):  # Method
        print(f"The {self.color} {self.brand} car has started.")

# Creating objects
car1 = Car("Toyota", "Red")
car2 = Car("Honda", "Blue")

# Accessing attributes and methods
print(car1.brand)  # Output: Toyota
car1.start()       # Output: The Red Toyota car has started.

print(car2.color)  # Output: Blue
car2.start()       # Output: The Blue Honda car has started.

Toyota
The Red Toyota car has started.
Blue
The Blue Honda car has started.

In [ ]:
class Calculator:
    def __init__(self):
        print("Welcome to the Calculator!")

    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b != 0:
            return a / b
        else:
            return "Error: Division by zero is not allowed."

# Example usage
calc = Calculator()

# Perform operations
num1 = 10
num2 = 5

print(f"Addition: {calc.add(num1, num2)}")          # Output: 15
print(f"Subtraction: {calc.subtract(num1, num2)}")  # Output: 5
print(f"Multiplication: {calc.multiply(num1, num2)}") # Output: 50
print(f"Division: {calc.divide(num1, num2)}")       # Output: 2.0
print(f"Division by zero: {calc.divide(num1, 0)}")  # Output: Error: Division by zero is not allowed.

Welcome to the Calculator!
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Division by zero: Error: Division by zero is not allowed.

In [ ]:
import numpy as np

In [ ]:
# Syntax
# np_arr = np.array([])


np_arr = np.array([1,2,3])

print("The numpy array is:",np_arr)

#Length
print("The length numpy array is:",len(np_arr))

# Access
print("The second element of numpy array is:",(np_arr[1]))

# Add a number to array
print("The resultant of 5 added to the numpy array is:",(np_arr + 5))

# Add all elements
print("The addition of all elements in numpy array is:",np.sum(np_arr))

# Min of all elements
print("The minimum of all elements in numpy array is:",np.min(np_arr))

# Mean
print(f"Mean of array is: {np.mean(np_arr)} and Std. deviation of the array is :{np.std(np_arr)}")

# Shape
print("Shape of the array is:", np_arr.shape)

# Filter
np_arr1 = np_arr[np_arr>1]
print("Array Elements greater than 1 are:", np_arr1)

np_arr1 = np_arr[(np_arr>1) & (np_arr<3)]
print("Array Elements greater than 1 and less than 3 are:", np_arr1)

# Sort

np_asc = np.sort(np_arr)
np_desc = np.sort(np_arr)[::-1]

print("Ascending Sort of the array is:", np_asc)
print("Descending Sort of the array is:", np_desc)

The numpy array is: [1 2 3]
The length numpy array is: 3
The second element of numpy array is: 2
The resultant of 5 added to the numpy array is: [6 7 8]
The addition of all elements in numpy array is: 6
The minimum of all elements in numpy array is: 1
Mean of array is: 2.0 and Std. deviation of the array is :0.816496580927726
Shape of the array is: (3,)
Array Elements greater than 1 are: [2 3]
Array Elements greater than 1 and less than 3 are: [2]
Ascending Sort of the array is: [1 2 3]
Descending Sort of the array is: [3 2 1]